/* base */
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: #00160F;
}
#bloomscreen{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:-3;
    backdrop-filter: blur(3px) brightness(200%) contrast(200%) opacity(33%);
    mix-blend-mode: overlay 
}
@-moz-document url-prefix() {
    #bloomscreen {
        background-color: rgba(0, 0, 0, 0.6);
       /* Fallback background color for Firefox */
        opacity: 0.6;
       /* Fallback opacity for Firefox */
        mix-blend-mode: normal;
       /* Fallback mix-blend-mode for Firefox */
   }
}
#background {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-2;
    background-image: url("/../images/stars.png");
    image-rendering: pixelated;
    background-repeat: repeat;
    background-size: 300vw 300vw;
    animation: bgscroll 360s linear infinite 
   /* mix-blend-mode: add;
   */
}
@-moz-document url-prefix() {
    #background {
        filter: blur(1px) brightness(200%) contrast(200%);
        opacity: 0.75;
   }
}
/*nebula 1*/
#nebula1 {
    height: 110%;
    width: 110%;
    position: fixed;
    z-index:-1;
    top:0;
    left:0;
    background-image: url("/../images/nebula2.png");
    image-rendering: pixelated;
    background-repeat: repeat;
    background-size: 90vw 90vw;
    animation: neb1scroll 180s linear infinite;
    backdrop-filter: blur(3px) brightness(200%) contrast(200%) opacity(33%);
    mix-blend-mode: overlay 
}
@-moz-document url-prefix() {
    #nebula1 {
        filter: blur(1px) brightness(200%) contrast(200%);
        opacity: 0.66;
   }
}
/*nebula 2!*/
#nebula2 {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-image: url("/../images/nebula1.png");
    image-rendering: pixelated;
    background-repeat: repeat;
    background-size: 200vw 200vw;
    animation: neb2scroll 690s linear infinite;
    backdrop-filter: blur(3px) brightness(200%) contrast(200%) opacity(33%);
    mix-blend-mode: overlay 
}
@-moz-document url-prefix() {
    #nebula2 {
        filter: blur(1px) brightness(200%) contrast(200%);
        opacity: 1;
   }
}
#bloomscreen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px) brightness(200%) contrast(200%) opacity(33%);
    mix-blend-mode: overlay;
    z-index: 1;
   /* Set a lower z-index value to ensure it stays behind the background images */
}
@keyframes bgscroll {
    from {
        background-position-x: 0%;
   }
    to {
        background-position-x: 300%;
   }
}
@keyframes neb1scroll {
    from {
        background-position-x: 0%;
   }
    to {
        background-position-x: -1800%;
   }
}
@keyframes neb2scroll {
    from {
        background-position-x: 0%;
   }
    to {
        background-position-x: 2000%;
   }
}
/*post processing :3*/
#gradi{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(127,127,127,0.2);
    background-image: linear-gradient(rgba(88, 133, 255, 0.095), rgba(0, 255, 76, 0.053));
    background-repeat: repeat;
    background-position: center;
    backdrop-filter:invert(100%) hue-rotate(-22deg) invert(100%) opacity(76%);
   /* For Safari 9+ and Safari on iOS 9+ */
    -webkit-backdrop-filter: blur(1px);
   /* For other browsers */
    backdrop-filter: blur(1px);
    mix-blend-mode: color;
    z-index:2 
}
/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 50px;
   /* overflow: hidden;
    */
    background-color: #333333e6;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.navbar a:hover {
    background-size: 800% 400%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #49428F 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #8F4289 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #898F42 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #428F48 1%, #FF000000 99%);
    background-repeat: repeat-x;
    animation: background-color-rotate 25s infinite 0s linear;
}
/* gradients generated with https://colorgradient.dev/ */
.navbar .dropdown:hover .dropbtn {
    background-size: 800% 400%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #49428F 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #8F4289 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #898F42 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #428F48 1%, #FF000000 99%);
    background-repeat: repeat-x;
    animation: background-color-rotate 25s infinite 0s linear;
}
.navbar .dropdown:hover {
    background-size: 800% 400%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #49428F 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #8F4289 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #898F42 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #428F48 1%, #FF000000 99%);
    background-repeat: repeat-x;
    animation: background-color-rotate 25s infinite 0s linear;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f93d;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content .header {
    padding: 16px;
    color: white;
    animation: background-rotate 100s linear 0s infinite;
}
.dropdown:hover .dropdown-content {
    display: block;
    background: linear-gradient(to right, #49428F3d, #8F42893d, #898F423d, #428F483d);
    background-repeat: repeat-x;
    animation: background-color-rotate 25s infinite 0s linear;
}
/* Style the buttons inside the tab */
.tab button {
    float: none;
    color: #180c1cce;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: 1rem solid transparent;
    width: 100%;
    cursor: pointer;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #bbbbbbbb;
    height: 310px;
}
/* menu items with links */
.column a {
    float: none;
    font-weight: bold;
    color: #180c1cce;
    text-decoration: none;
    display: block;
    text-align: center;
    background-size: 100% 100%;
}
.column a:hover {
    background: linear-gradient(to right, #49428F69, #8F428969, #898F4269, #428F4869);
    animation: border-color-rotate 10s linear infinite;
    border-radius: 50px 50px;
}
.column h3 {
    background-size: 400% 100%;
    animation: border-color-rotate 25s infinite 0s linear;
    border-bottom: 10px solid #428F48;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    font-size: 30px;
    text-align: center;
}
.column_image {
    float: left;
    height: 310px;
    width: 25%;
    padding: 10px;
    background-color: #bbbbbbbb;
    text-align: center;
}
.column_image h3 {
    background-size: 400% 100%;
    animation: border-color-rotate 25s infinite 0s linear;
    border-bottom: 10px solid #428F48;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    font-size: 30px;
    text-align: center;
}
.column_image_active {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #bbbbbbbb;
    text-align: left;
    height: 310px;
}
.column_image_active h3 {
    background-size: 400% 100%;
    animation: border-color-rotate 25s infinite 0s linear;
    border-bottom: 10px solid #428F48;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    font-size: 30px;
    text-align: center;
}
.menu_preview_image img {
    float: right;
    height: 200px;
    width: 200px;
    padding: 30px 0 0 0;
    margin: 0 0 0 15px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@keyframes background-color-rotate {
    0%, 100% {
        background-position: 0 0;
   }
    50% {
        background-position: 100% 0;
   }
}
@keyframes border-color-rotate {
    0%, 100% {
        border-bottom: 5px solid #49428F;
   }
    75% {
        border-bottom: 5px solid #8F4289;
   }
    50% {
        border-bottom: 5px solid #898F42;
   }
    25% {
        border-bottom: 5px solid #428F48;
   }
}
.invaders-center {
    text-align: center;
    font-size: 16px;
    color: white;
}
#space-invaders {
    margin: 0 auto;
    display: block;
    background: white;
}
